.custom-header-bg {
  background: #2196f3;
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 0 12px #000;
}

.header-container-wrapper {
  flex: 0 0 auto;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.header-container .page-center,
.body-container .page-center,
.footer-container .page-center {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12%;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}

.file-input {
  display: none;
}

.file-input-label {
  /* padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer; */
  background-color: #cf142a00;
  color: #234691;
  /* width: 12%; */
  padding: 10px 15px;
  border: 7px solid #234691;
  border-radius: 20px;
  transition: background-color 1s ease;
  /* margin-left: 30%; */
  /* height: 10%;
  width: 80%; */
  font-size: 30px;
  /* margin-top: 2%; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.file-input-label:hover {
  cursor: pointer;
}

.upload-button:hover {
  cursor: pointer;
}

.upload-button {
  background-color: #cf142a00;
  color: #234691;
  /* width: 12%; */
  padding: 10px 15px;
  border: 7px solid #234691;
  border-radius: 20px;
  transition: background-color 1s ease;
  /* margin-left: 30%; */
  /* height: 10%;
  width: 80%; */
  font-size: 30px;
  /* margin-top: 2%; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo-img {
  width: 9%;
  height: 9%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 1%;
}

.Logo {
  font-size: 55px;
  font-stretch: wider;
  font-weight: bold;
  color: #0a0263;
  margin-top: 1%;
  font-family: "Snippet", sans-serif;
  font-weight: bolder;
  font-stretch: expanded;
}

.header-columning {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -1%;
  display: flex;
  flex-direction: row;
  top: -10;
  /* background-color: #ffffff; */
}

.custom-footer-bg {
  background: #2196f3;
  padding: 20px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 12px #000;
}

.footer-container-wrapper {
  flex: 0 0 auto;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.SText {
  color: #0a0263;
}

.box {
  display: flex;
  flex-direction: row;
  margin-top: 6%;
}

.Spinner-Text {
  font-size: 40px;
  font-weight: bold;
  color: #0a0263;
  /* margin-left: 10%; */
  margin-top: 5%;
  font-family: "Gill Sans";
  font-stretch: expanded;
  /* width: 60%; */
}

.Result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
}

.FileName {
  font-size: 20px;
  font-weight: bold;
  color: #0a0263;
  /* margin-left: 10%; */
  /* margin-top: 5%; */
  font-family: "Gill Sans";
  font-stretch: expanded;
  /* width: 60%; */
}

.Result-Text {
  font-size: 15px;
  font-weight: bold;
  color: #0a0263;
  /* margin-left: 10%; */
  /* margin-top: 5%; */
  font-family: "Gill Sans";
  font-stretch: expanded;
  /* width: 60%; */
  text-align: center;
  width: 600px;
  /* height: 400px; */
  margin: 0 auto;
}

.chart-img {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-left: 15%; */
}
